
.item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top:2rem;
  padding-bottom: 2rem;
}

.container {
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
nav {
  text-align: center;
  width: 100%;
}

nav li {
  display: inline;
  font-size: 1.1rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0.5rem 2rem 0.7rem 2rem;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #181831;
}

h1 {
  padding-top: 1rem;
  text-align: center;
  font-size: 2rem;
  font-family: 'Questrial', sans-serif;
  color: #181831;
}

header {
  padding: 1rem;
}



nav, h4, h5, p {
  font-family: 'Questrial', sans-serif;
  color: #181831;
}

h2 {
  font-family: 'Questrial', sans-serif;
  color: #181831;
  text-align: center;
  font-size: 1.2rem;
}

.item {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 2rem;
}











