.container-fluid {
  margin: auto;
  background-color: #C3C3C6;
   background-image: url("../images/snow-header.jpg");
  background-size: cover;
}

aside {
  padding-top: 1rem;
}

.item-container {
  position: relative;
  display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
  -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: center;
  justify-content: flex-start;
  align-content:flex-start;
  padding-top: 1rem;
  padding-bottom: 3rem;
  width: 100%;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .item-container {
   max-width: 100%;
  }
}

.item {
  
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: 2rem 1rem; 
  width: 90%;
  height: 100%;
  border: 5px double black;
  background-color: white;
}

@media screen and (max-width: 767px) and (min-width: 551px) {
  .item {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto; 
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}


nav {
  text-align: center;
  width: 100%;
  font-family: 'Questrial', sans-serif;
  color: #051847;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin: auto;
  letter-spacing: 0.05rem;
}

nav li {
  display: inline;
  font-size: 1.3rem;
  align-items: center;
  letter-spacing: 0.1rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #181831;
}

h1 {
  text-align: center;
  font-size: 2.7rem;
  font-family: 'Questrial', sans-serif;
  color: #051847;
  letter-spacing: 0.1rem;
}
 

header {
  padding: 1rem;
}


img {
  max-width: 100%;
  padding-top: 1rem;
  margin: auto;
}

h4 {
  
 font-family: 'Questrial', sans-serif;
  color: #051847;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin: auto;
  letter-spacing: 0.05rem;
}

h5 {
  font-family: 'Questrial', sans-serif;
  color: #051847;
  position: absolute;
  bottom: 0;
  padding: 1rem;
  margin: auto;
  letter-spacing: 0.05rem;
  text-align: center;
}

@media screen and (max-width: 767px) and (min-width: 551px) {
  h5 {
    padding-right: 1rem;
  }
}

@media screen and (max-width: 550px) {
  h5 {
    padding-bottom: -1rem;
  }
}

h6 {
  font-family: 'Questrial', sans-serif;
  color: #051847;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin: auto;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}

h2 {
  font-family: 'Questrial', sans-serif;
  color: #051847;
  padding-top: 2rem;
  text-align: center;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
}



p {
  font-family: 'Questrial', sans-serif;
  color: #06203A;
  font-size: 1.2rem;
  padding: 1rem;
  letter-spacing: 0.04rem;
  text-align: center; 
  
}

@media screen and (min-width: 1415px) {
  p {
  font-size: 1.2rem;
    margin-top: 1rem;
}
  }

@media screen and (max-width: 767px) and (min-width: 551px) {
  p {
    font-size: 1.3rem;
    width: 50%;
    margin: auto;
  }
}
@media screen and (max-width: 550px) {
  p {
    width: 100%; 
    font-size: 1.2rem;
    padding-top: 4rem;
  }

.photo-frame {
  height: 60%;
  padding-bottom: 3rem;
}

footer {    
  position: sticky;
  padding: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  color: #051847;
  font-size: 1.2rem;
/*  border-top: 5px double white;*/
}

 


  











