.container-fluid {
  margin: auto;
  
}

.item-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  margin: auto;
  text-align: center;
}

.item {
  
  justify-content: center;
  text-align: center;
  margin: auto;
  display: block;
  padding: 1rem;
  width: 100%;
}


.row {
  display: flex;
  flex-wrap: wrap;
}


nav {
  text-align: center;
  width: 100%;
}

nav li {
  display: inline;
  font-size: 1.1rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0.5rem 2rem 0.7rem 2rem;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #181831;
}

h1 {
  padding-top: 1rem;
  text-align: center;
  font-size: 2rem;
  font-family: 'Questrial', sans-serif;
  color: #181831;
}

header {
  padding: 1rem;
}

figure {
  max-width: 100%;
  padding: 1rem;
  margin: auto;
}

nav, h4 {
  font-family: 'Questrial', sans-serif;
  color: #181831;
  padding-bottom: 1rem;
  margin: auto;
}

h2 {
  font-family: 'Questrial', sans-serif;
  color: #181831;
  padding-top: 2rem;
  text-align: center;
  font-size: 1.4rem;
}

figcaption, h5 {
  font-family: 'Questrial', sans-serif;
  color: #181831;
  font-size: 0.8rem;
}










